extends layouts/main-layout.pug

block content    
    +createPostForm(userLoggedIn)
    .loadingSpinnerContainer 
        img(src="/images/loader.gif", alt="loading spinner")
    .postsContainer(style="visibility: hidden")

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/home.js") 